.error-input {
    border-bottom: 2px solid red; /* Add a bottom border */
    margin-bottom: 0px; /* Bottom margin */

  }

.error-text {  
  margin: 0;
  padding: 0;
  color: red;
  font-style: bold;
  font-size: 10px;
  margin-bottom: 10px;
}


.formDisable {
  display: none;
}

.h1confirm {

  font-weight: bold; /* set a bold font */
  padding-bottom: 1px; /* add a padding-bottom */
  text-align: center;

}